<div class="animate">
  <div class="animate">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="card">
          <div class="card-header card-primary card-inverse">
            <h4 class="card-title"><i class="fa fa-book"></i> Habilidades</h4>
          </div>
          <div class="card card-default card-block">
            <div class="row">
              <div  *ngFor="let skill of skills; let i = index" [attr.data-index]="i" class="col-sm-3" >
                <div class="card">
                  <div class="card-header card-info card-inverse">
                    <h5 class="card-title">{{skill.title}}</h5>
                  </div>
                  <div class="card-block">
                    <div  *ngFor="let detail of skill.details; let j = index" [attr.data-index]="j" >
                      <progressbar  [animate]="true" class="progress-striped active"  min="1" max="100" value="{{detail.rate}}" [type]="i % 2 == 0 ?'success'   : 'danger'">{{detail.name}}</progressbar>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
