<div class="animate" >
  <div class="animate">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="card">
          <div class="card-header card-primary card-inverse">
            <h4 class="card-title"> <i  class="fa fa-briefcase" aria-hidden="true"></i> Trabajos</h4>
          </div>
          <div class="card card-default card-block">
            <ul class="timeline" >
              <li  *ngFor="let experience of experiences; let i = index" [attr.data-index]="i" [ngClass]="i % 2 == 0 ?''   : 'timeline-inverted'" >
                <div class="timeline-badge"  [ngClass]="getColor(i)">{{experience.year}}</div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <p class="timeline-title"><b>{{experience.company}}</b> <i>{{experience.position}}</i></p>
                  </div>
                  <div class="timeline-body">
                    {{experience.resume}}
                    <p><small class="text-muted">{{experience.start_date}}-{{experience.end_date}}</small></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
